

nav{
    background-color: #3A7BD5;
    width:250px ;
    height: 100%;
    position: fixed;
    h1{
        padding: 30px;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3A7BD5;
        display: flex;
        flex-direction: column;
        .special{
            background-color: white;
            color: #3A7BD5;
            margin-left: 40px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            .dark-special {
                background-color: black;
                color: white;
            }
        
            .light-special {
                background-color: white;
                color: black;
            }

             a{
                display: flex;
                flex-direction: column;
                color: #3A7BD5;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
        }
        li{
            float: left;
        }
        li a{
            display: flex;
            flex-direction: column;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        li a:hover{
            text-decoration: none;
        }
    }
}