@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Ropa+Sans:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$form-color: #f5f5f5;
$button-color: #132aae;
$button-hover-color: #0d1a7f;
$button-text-color: #ffffff;
$jost: 'Jost', sans-serif;
$ropa: 'Ropa Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$isle: 'Island Moments', cursive;


.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $form-color;
  font-family:$josefin;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    }
    
    .signup-form h1 {
      margin: 0 0 15px 0;
      color: #555;
    }
    
    .signup-form input
     {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        }
        
        .signup-form input[type=text]:focus,
        .signup-form input[type=password]:focus,
        .signup-form input[type=email]:focus {
            border-color: $button-color;
        }
        .form-group{
            display: flex;
            flex-direction: column;
            width: 300px;
            margin-bottom: 10px;
            label{
                display: flex;
                justify-content: left;
            }
        }
        .password-strength {
            font-size: 14px;
            margin-top: 5px;
            &.weak {
              color: red;
            }
            &.moderate {
              color: orange;
            }
            &.strong {
              color: green;
            }
          }
          
          .password-match {
            font-size: 14px;
            margin-top: 5px;
            color: red;
          }
          
          @keyframes strengthPulse {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.1);
            }
            100% {
              transform: scale(1);
            }
          }
          
          .password-strength-animation {
            animation: strengthPulse 1s infinite;
          }
          .google-signup{
            display: flex;
            flex-direction: column;
            .googlecon {
                img{
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    &:hover{
                        cursor: pointer;
                        opacity: 0.8;
                        transition: opacity 0.2s ease-in-out;
                        transform:  scale(1.1);
                    }
                }
            }
            .sign{
                h2{
                    margin: 0;
                    font-size: 16px;
                }
            }
          }