$jost: 'Jost', sans-serif;
$ropa: 'Ropa Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$isle: 'Island Moments', cursive;

$white: #ffffff;
$snow-white: #f9f9f9;
$ghost-white: #f8f8ff;
$ivory: #fffff0;
$old-lace: #fdf5e6;
$linen: #faf0e6;
$seashell: #fff5ee;

$dark-pink: #ff1493;
$deep-pink: #ff1493;
$pale-violet-red: #db7093;
$hot-pink: #ff69b4;
$light-pink: #ffb6c1;

$slate-blue: #6a5acd;
$medium-slate-blue: #7b68ee;
$dark-slate-blue: #483d8b;
$light-slate-blue: #8470ff;

$blue: #0000ff;
$medium-blue: #0000cd;
$dark-blue: #00008b;
$navy: #000080;
$royal-blue: #4169e1;
$sky-blue: #87ceeb;
$light-sky-blue: #87cefa;
$steel-blue: #4682b4;
$light-steel-blue: #b0c4de;
$powder-blue: #b0e0e6;

$red: #ff0000;
$dark-red: #8b0000;
$light-red: #ffcccb;
$firebrick: #b22222;
$crimson: #dc143c;

$green: #008000;
$lime: #00ff00;
$forest-green: #228b22;
$sea-green: #2e8b57;
$dark-green: #006400;

body {
    margin: 0;
    font-family: $roboto, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $ghost-white;
    height: 125px;
    width: 1000px;
    border-bottom: 2px solid #ccc;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 50;
    right: 0;
    z-index: 100;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;

    img {
        position: absolute;
        left: 10px;
        width: 24px;
        height: 24px;
    }

    input {
        padding: 10px 10px 10px 40px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        font-family: $jost;

    }
}

.notifications, .reminders {
    img {
        width: 30px;
        height: 30px;
    }
}

.profile {
    display: flex;
    align-items: center;

    .profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .profile-info {
        display: flex;
        flex-direction: column;

        .profile-name {
            font-weight: bold;
        }

        .profile-email {
            font-size: 14px;
            color: #666;
        }
    }
}

.homepage {
    background-color: $snow-white;
    width: 980px;
    margin: 5px auto 0;
    height: 200vh;
    margin-left: 80px;
    position: relative;
    z-index: 1;
    padding-top: 150px;
    .intro{
        display: flex;
        justify-content: left;
        flex-direction: column;
        h2{
            font-family: $ropa;
            font-size: 0px;
            font-weight: bold;
            color: #000080;
            text-align: left;
        }
    }
    .main{
        height: 600px;
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        gap: 15px;
        .health-stats {
            width: 100%;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            margin-bottom: 20px;
            height: 100vh-;
            .stats{
                display: flex;
                flex-direction: row;
                gap: 10px;
                .diagnosis-stats{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                .body-temperature{
                    border: 1px solid #ccc;
                    width: 200px;
                    height: 150px;
                    border-radius: 8px;
                }
                .recent-illnesses {
                    width: 200px;
                    padding: 10px;
                    border-radius: 8px;
                    margin: 0 auto;
                    border: 1px solid #ccc;
                    h4{
                        font-weight: bold;
                        font-family: $ropa;
                    }
                }
                
                .illnesses-container {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                
                .illness-card {
                    display: flex;
                    align-items: center;
                    background-color: #f2f2f2;
                    border-radius: 10px;
                    padding: 10px;
                }
                
                .illness-info {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                }
                
                .illness-name {
                    font-weight: bold;
                }
                
                .status-icon {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin-left: 10px;
                }
                
                .ongoing {
                    background-color: #ffd700; 
                }
                
                .complete {
                    background-color: #32cd32;
                }
                
                .severe {
                    background-color: #ff6347; 
                }
                
                
                .status {
                    display: inline-block;
                    padding: 5px 10px;
                    border-radius: 10px;
                    font-weight: bold;
                }
                
                .ongoing {
                    background-color: #ffd700; /* yellow */
                }
                
                .complete {
                    background-color: #32cd32; /* green */
                }
                
                .severe {
                    background-color: #ff6347; /* red */
                }
            }
                

                .blood-pressure{
                    border-radius: 8px;
                    width: 200px;
                    height: 350px;
                    border: 1px solid #ccc;
                    box-shadow:  0 2px 4px rgba(0,0,0,0.7);
                    h4{
                        font-size: 20px;
                        color: #333;
                        font-family: $ropa;
                        padding-top: 40px;
                    }
                    .blood-pressure-value{
                        p {
                            font-size: 20px;
                            margin: 0 0 10px;
                            color: $red;
                            font-family: $roboto-condensed;
                        }

                    }
                    .graph-for-blood-pressure {
                        width: 100%;
                        margin-top: 50px;
                        canvas {
                          max-width: 100%; 
                          height: 200px;
                          color: #fff;
                        }
                      }
                }
            }
        
        
            h2 {
                margin-bottom: 20px;
                color: $dark-pink;
                font-size: 26px;
                font-family: $ropa;
            }
        
            .heart-rate {
                width: 250px;
                background-color: $royal-blue;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0,0,0,0.7);
                height: 400px;
                .heartRate{
                    display: flex;
                    flex-direction: row;
                    margin-left: 20px;
                    gap :10px;
                    padding-top: 50px;

                    img{
                        width: 30px;
                        height: 30px;
                        margin-right: 30px;
                    }

                }
                h4 {
                    margin-bottom: 10px;
                    color: $snow-white;
                    font-size: 25px;
                    font-family: $ropa;
                    width: 150px;
                }
        .heart-rate-value {
                    p {
                        font-size: 24px;
                        margin: 0 0 10px;
                        color: $red;
                        font-family: $roboto-condensed;
                    }
                }
        
                .graph-for-heartrate {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    width: 100%;
                    font-family: $jost;
                }
            }
        
        }
        .scheduled-appointments{
            height: 100vh;
            max-width: 320px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
            gap: 10px;
            display: flex;  
            flex-direction: column;
              
              .scheduled-appointments h4 {
                margin-bottom: 1rem;
              }
              
              .appointment {
                display: flex;
                flex-direction: column;
                padding: 1rem;
                background-color: #ccc;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              }
              
              .appointment-time {
                font-weight: bold;
                margin-bottom: 0.5rem;
              }
              
              .appointment-details {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }
              
              .doctor-info {
                display: flex;
                align-items: center;
                gap: 1rem;
              }
              
              .doctor-pic {
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }
              
              .doctor-name {
                font-weight: bold;
              }
              
              .appointment-type {
                font-style: italic;
              }
              
              .contact-info {
                display: flex;
                flex-direction: column;
              }
              
              .contact-number {
                font-size: 0.9rem;
              }
              
              .billing-status {
                font-size: 0.9rem;
                color: green;
              }
              
              .appointment-status {
                font-weight: bold;
                color: #007bff;
              }
              
        }
    }

   
}
